.example-card {
  max-width: 400px;
  height: 600px;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: center;
}

#label {
  text-align: center;
  font-size: 12.8px;
}

.danger {
  color: #d04242;
  font-size: 12.8px;
}

.img {
  margin-left: 15%;
  max-width: 250px;
  max-height: 150px;
}
