<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{data.title}}</mat-card-title>
    <mat-card-subtitle>{{data.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{data.urlImage}}" *ngIf="data.urlImage">
  <mat-card-content>
    <div class="example-container">
      <form [formGroup]="form" (ngSubmit)="Submit()" *ngIf="data.input">
        <mat-form-field appearance="fill" *ngFor="let input of data.input; let i=index">
          <mat-label>{{data.input[i]}}</mat-label>
            <input matInput type="number" formControlName="input{{i+1}}" required>
        </mat-form-field>
        <span *ngIf="this.form.invalid" class="danger">{{getErrorMessage()}}</span>
        <button mat-raised-button color="primary" type="submit" disabled="{{form.invalid}}">Primary</button>
      </form>
    </div>
    <p>
      {{data.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="{{data.scrBtn}}" *ngIf="data.scrBtn">Ingresar</button>
  </mat-card-actions>
</mat-card>
