<mat-card class="example-card">

  <mat-card-title>{{data.title}}</mat-card-title>
  <mat-card-subtitle>{{data.subtitle}}</mat-card-subtitle>

  <img mat-card-image class="img" src="{{data.urlImage}}" *ngIf="data.urlImage">

  <div class="example-container">
    <form [formGroup]="form" (ngSubmit)="Submit()" *ngIf="data.input">
      <mat-form-field appearance="fill" *ngFor="let input of data.input; let i=index" id="label">
        <mat-label>{{data.input[i]}}</mat-label>
        <input matInput type="number" formControlName="input{{i+1}}" required>
      </mat-form-field>
      <p>
        <span *ngIf="this.form.invalid" class="danger">{{getErrorMessage()}}</span>
      </p>
      <p>
        {{data.description}}
      </p>
      <button mat-raised-button color="primary" type="submit" disabled="{{form.invalid}}">Calcular</button>
      <p *ngIf="result" style="margin-top: 8px">Resultado: {{result}}</p>
    </form>
  </div>

</mat-card>
